@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #5e82c8; }

h1 {
  margin: 4rem;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: .8rem;
  font-variant: small-caps; }

h2 {
  font-weight: 400;
  font-size: 4rem; }

h3 {
  font-variant: small-caps;
  font-size: 3rem;
  color: #5e82c8;
  font-weight: 400;
  text-align: center;
  line-height: 3.5rem; }

.wedding__subtitle {
  text-align: left;
  font-style: italic;
  font-size: 3rem;
  margin: 3rem 0;
  margin-top: 8rem;
  color: #5e82c8;
  font-weight: 400;
  letter-spacing: .2rem; }
  @media (max-width: 37.5em) {
    .wedding__subtitle {
      text-align: center;
      margin-bottom: 5rem; } }

.wedding__ceremony {
  margin-top: 0; }

.wedding__hour {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 200;
  color: #9ebfff; }
  @media (max-width: 75em) {
    .wedding__hour {
      font-size: 6rem; } }
  @media (max-width: 37.5em) {
    .wedding__hour {
      font-size: 5rem; } }

.wedding__afternoon {
  font-size: 4rem;
  line-height: 4rem;
  font-style: italic;
  color: #9ebfff; }
  @media (max-width: 75em) {
    .wedding__afternoon {
      font-size: 2rem; } }

.wedding__city {
  font-size: 3rem;
  font-weight: 200;
  font-variant: small-caps;
  color: #9ebfff; }
  @media (max-width: 37.5em) {
    .wedding__city {
      font-size: 3rem; } }

.wedding__place {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 400;
  font-variant: small-caps;
  color: #5e82c8; }
  @media (max-width: 75em) {
    .wedding__place {
      font-size: 2.5rem; } }

.wedding__postcode {
  font-size: 3rem;
  line-height: 3rem;
  font-style: italic;
  color: #5e82c8; }
  @media (max-width: 75em) {
    .wedding__postcode {
      font-size: 2rem; } }

.wedding__role {
  font-size: 3rem;
  line-height: 4rem;
  font-variant: small-caps;
  color: #9ebfff;
  float: right; }
  @media (max-width: 75em) {
    .wedding__role {
      font-size: 2rem; } }

.wedding__nameWP {
  font-size: 3rem;
  line-height: 4rem;
  font-style: italic;
  color: #5e82c8; }
  @media (max-width: 75em) {
    .wedding__nameWP {
      font-size: 2rem; } }

.travel__text {
  text-align: justify; }

.travel__parking-list {
  list-style: none; }

.travel__parking {
  font-weight: 700;
  padding-left: 2rem; }

.section-feature h3 {
  color: #ffa076; }

.question__list h3 {
  text-align: left;
  font-style: italic;
  margin: 4rem 0 2rem 0; }

.question__list p {
  color: #849fd5; }

.section__rsvpYear {
  color: white;
  text-align: left;
  font-size: 8rem;
  font-weight: 200;
  line-height: 8rem;
  display: block; }
  @media (max-width: 56.25em) {
    .section__rsvpYear {
      text-align: center; } }

.section__rsvpInfo {
  color: white;
  font-style: italic;
  font-size: 3rem;
  line-height: 3rem;
  margin-left: 2rem; }
  @media (max-width: 56.25em) {
    .section__rsvpInfo {
      text-align: center;
      line-height: 6rem;
      margin: 0; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-center-text-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  background-color: #ffb898;
  padding: 1rem 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--blue:link, .btn--blue:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  color: #5e82c8;
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.5));
  padding: 1rem 2rem;
  margin: 1rem 3rem;
  border-radius: 10rem;
  transition: all .2s;
  display: inline-block;
  position: relative; }

.btn--blue:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn--blue:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn--blue:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.feature-box {
  background-color: white;
  color: #5e82c8;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      margin-bottom: 5rem;
      padding: 5rem; } }
  @media (max-width: 37.5em) {
    .feature-box {
      margin: 0 4rem;
      margin-bottom: 5rem;
      padding: 5rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box h3 {
    line-height: 3rem; }

.feature__accommodations {
  height: 18rem;
  color: transparent;
  background-image: url(../img/AccommodationsWR.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center; }
  @media (max-width: 75em) {
    .feature__accommodations {
      height: 12rem;
      margin: 0 6rem;
      margin-bottom: 5rem; } }
  @media (max-width: 56.25em) {
    .feature__accommodations {
      height: 12rem;
      margin: 0 4rem;
      margin-bottom: 5rem; } }

.feature__thumbnail {
  width: 85%;
  display: block;
  margin: 2rem auto; }
  @media (max-width: 56.25em) {
    .feature__thumbnail {
      margin: 4rem auto; } }

.feature__info {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem 0; }
  @media (max-width: 56.25em) {
    .feature__info {
      margin: 0 6rem; } }
  @media (max-width: 37.5em) {
    .feature__info {
      margin: 0; } }

.feature__text {
  text-align: left;
  font-size: 1.6rem; }
  @media (max-width: 56.25em) {
    .feature__text {
      margin: 0 6rem; } }
  @media (max-width: 37.5em) {
    .feature__text {
      margin: 0; } }

.feature__map {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0; }
  @media (max-width: 56.25em) {
    .feature__map {
      margin: 4rem auto; } }

.feature__button {
  text-align: center; }

iframe {
  display: block;
  margin: 0 auto; }

.sexy_line {
  display: block;
  border: none;
  background-color: #9ebfff;
  height: 1px; }

.row {
  max-width: 140rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
    @media (max-width: 75em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media (max-width: 75em) {
    .row {
      max-width: 100rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 80rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    position: relative; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .grey {
    background-color: grey; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/flowers.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media (max-width: 56.25em) {
    header {
      background-image: url(../img/flowers-med.jpg); } }
  @media (max-width: 37.5em) {
    header {
      background-image: url(../img/flowers-small.jpg); } }

.landing {
  width: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .landing__name {
    height: 20rem;
    text-align: center;
    color: transparent;
    background-image: url(../img/robert_melody.png);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: top;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .landing__name {
        height: 15rem; } }
  .landing__wedding-info {
    text-align: center;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .landing__wedding-date {
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 600;
    line-height: 3rem;
    display: block;
    color: #3a5fa9; }
  .landing__wedding-city {
    font-size: 2rem;
    line-height: 6rem;
    font-style: italic;
    display: block; }

.navigation {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  right: 0;
  top: 0;
  display: inline-block;
  z-index: 10; }
  .navigation__list {
    float: right;
    color: #ffa076;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem 1.5rem;
    z-index: 10; }
    @media (max-width: 37.5em) {
      .navigation__list {
        width: 100%;
        margin: 1rem 0;
        text-align: center; } }
  .navigation__items {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: .5rem 1rem; }
    @media (max-width: 37.5em) {
      .navigation__items {
        font-size: 1rem;
        padding: .5rem .5rem; } }

/* unvisited link */
a:link {
  text-decoration: none;
  color: #ffa076; }

/* visited link */
a:visited {
  color: #ffa076; }

/* mouse over link */
a:hover {
  color: #ffa076;
  text-decoration: underline; }

/* selected link */
a:active {
  color: #ffcfba;
  text-decoration: underline; }

.footer {
  background-color: white;
  float: right;
  font-size: 1.2rem;
  padding: 2rem; }

.section-wedding {
  background-image: linear-gradient(to bottom, white, rgba(158, 191, 255, 0.2));
  padding: 10rem 0;
  border-bottom: 3px solid white; }
  @media (max-width: 37.5em) {
    .section-wedding {
      padding: 5rem 0;
      padding-bottom: 8rem; } }

.wedding__title {
  height: 30rem;
  color: transparent;
  background-image: url(../img/OurWeddingG.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center;
  position: relative; }
  @media (max-width: 75em) {
    .wedding__title {
      height: 20rem;
      margin-bottom: 5rem; } }
  @media (max-width: 56.25em) {
    .wedding__title {
      height: 15rem;
      margin-bottom: 5rem; } }
  @media (max-width: 37.5em) {
    .wedding__title {
      height: 25rem;
      width: 60% !important;
      margin: 0 auto;
      margin-bottom: 5rem; } }

.wedding__table {
  table-layout: fixed;
  width: 100%; }
  @media (max-width: 37.5em) {
    .wedding__table {
      width: 85% !important;
      margin: 0 auto; } }

.wedding__table-column {
  position: relative;
  vertical-align: middle; }
  .wedding__table-column:not(:last-child) {
    padding-right: 4rem; }

.wedding__line {
  width: .2rem;
  height: 16rem;
  background-color: #9ebfff;
  position: absolute;
  top: -10rem;
  left: -2rem;
  transform: rotate(-8deg); }
  @media (max-width: 37.5em) {
    .wedding__line {
      height: 14rem;
      top: -8rem; } }

.wedding__line-2 {
  width: .2rem;
  height: 12rem;
  background-color: #9ebfff;
  position: absolute;
  top: -6rem;
  left: -2rem;
  transform: rotate(-8deg); }
  @media (max-width: 37.5em) {
    .wedding__line-2 {
      height: 10rem;
      top: -5rem; } }

.wedding__hour {
  float: right; }

.wedding__city {
  float: right;
  padding-top: .8rem; }

.section-travel {
  background-image: linear-gradient(to bottom, rgba(158, 191, 255, 0.6), white);
  padding: 10rem 0;
  color: #5e82c8; }
  @media (max-width: 37.5em) {
    .section-travel {
      padding: 5rem 0;
      padding-bottom: 8rem; } }

@media (max-width: 37.5em) {
  .travel {
    max-width: 40rem; } }

.travel__title {
  height: 30rem;
  color: transparent;
  background-image: url(../img/TravelParkingG.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center; }
  @media (max-width: 75em) {
    .travel__title {
      height: 20rem; } }
  @media (max-width: 56.25em) {
    .travel__title {
      height: 18rem;
      margin-bottom: 5rem; } }

.travel__parking-list {
  margin-top: 2rem; }

.travel__parking-link, .travel__parking-link:link, .travel__parking-link:visited {
  color: #5e82c8; }

.travel__parking-link:hover {
  color: #5e82c8;
  text-decoration: underline; }

.section-feature {
  padding: 8rem 0rem 10rem 0rem;
  background-image: linear-gradient(to right bottom, rgba(41, 74, 139, 0.8), rgba(255, 207, 186, 0.8)), url(../img/bishopsPalace.jpg);
  background-size: cover;
  border-top: 2px solid #5e82c8;
  border-bottom: 2px solid #ffa076; }
  @media (max-width: 37.5em) {
    .section-feature {
      padding: 5rem 0; } }

.section-question {
  padding: 10rem 0rem;
  background-image: linear-gradient(to bottom, rgba(255, 207, 186, 0.3), white, white); }
  @media (max-width: 37.5em) {
    .section-question {
      padding: 5rem 0;
      padding-bottom: 8rem; } }

#question__title {
  height: 20rem;
  color: transparent;
  background-image: url(../img/questionsG.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center;
  position: relative; }
  @media (max-width: 56.25em) {
    #question__title {
      height: 10rem;
      margin-bottom: 5rem; } }
  @media (max-width: 37.5em) {
    #question__title {
      height: 10rem; } }

.question__list {
  margin: 6rem 6rem; }
  @media (max-width: 56.25em) {
    .question__list {
      margin: 0rem 6rem; } }

.section-rsvp {
  background-image: linear-gradient(to bottom, #5e82c8, white);
  padding: 8rem 3rem;
  border-top: 1px solid #3a5fa9; }

.section__rsvpTitle {
  height: 15rem;
  margin-top: 5rem;
  color: transparent;
  background-image: url(../img/RsvpG.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: right; }
  @media (max-width: 75em) {
    .section__rsvpTitle {
      height: 10rem; } }
  @media (max-width: 56.25em) {
    .section__rsvpTitle {
      background-position: center;
      height: 10rem; } }

.columnC {
  margin: 5rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .columnC {
      text-align: center;
      margin: 0; } }

.line_bottom {
  position: absolute;
  top: -2.5rem;
  left: -4rem; }
  @media (max-width: 56.25em) {
    .line_bottom {
      display: none; } }
