// COLORS

$color-blue:#3a5fa9;
$color-dark-blue: #294a8b;

$color-med-blue: #5e82c8;
$color-med-blue-2:#849fd5;

$color-light-blue:#9ebfff;

$color-peach:#ffcfba; //peach
$color-med-peach:#ffb898;
$color-dark-peach:#ffa076;

$color-transparent:transparent;
$color-white: white;
$color-black: black;


// GRID

$grid-width: 140rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 8rem;
$gutter-horizontal-small: 4rem;
$height_landing : 100vh;