.sexy_line{ 
    display:block;
    border:none;
    background-color: $color-light-blue;
    height:1px;
    // background:$color-blue;
    // background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from($color-blue), to(#fff));
}




// border-left: 1px solid $color-light-blue;